* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --dark-gray: hsl(0, 0%, 50%);
  --gray: hsl(0, 0%, 60%);
  --light-gray: hsl(0, 0%, 80%);
  --gray-gap: hsl(0, 0%, 96%);
  --orange: hsl(39, 100%, 50%);
  --light-orange: hsl(39, 100%, 95%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

html {
  height: 100vh;
  max-width: 102.4rem;
  margin-left: auto;
  margin-right: auto;
  background: var(--light-gray);
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;

  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "header header"
    "main aside"
    "main aside"
    "foot foot";
  grid-template-rows: auto 1fr 1fr 3rem;
  grid-template-columns: 66rem 31rem;
  gap: 0 6.1rem;
  background-color: var(--gray-gap);
}
/* Header */
header {
  grid-area: header;
  background-color: var(--white);
  box-shadow: 0 0.2rem 0.2rem 0.1rem hsla(0, 0%, 0%, 0.2);
  position: relative;
}
.main-nav {
  padding: 2rem;
}
.main-menu {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 3.2rem;
}
.main-menu__item a {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--black);
  text-decoration: none;
}
.main-menu__item:nth-child(1) {
  margin-right: auto;
}
.main-menu__item__dropdown {
  list-style: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 10.3rem;
  display: none;
  background: white;
  text-align: center;
}
.main-menu__item:hover > .main-menu__item__dropdown,
.main-menu__item__dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 6rem;
  box-shadow: 0px 3px 5px -1px #ccc;
}
.main-menu__item__dropdown li{
  padding: 0.3rem 0.6rem;
}
.main-menu__item__dropdown li:hover{
  background-color: var(--light-orange);
  transition: all 0.3s ease;
}
.main-menu__item__dropdown li:not(:last-child){
  border-bottom: 1px solid #ccc;
}
.main-menu__item__dropdown a{
  font-size: 0.8rem;
  padding: 2rem 0;
}
.main-menu__item__dropdown li:hover > a{
  color: var(--orange);
  transition: all 0.3s ease;
}
/* Main */
main {
  grid-area: main;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2.7rem;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__heading-container {
  display: flex;
  flex-direction: column;
  margin-top: -6rem;
  gap: 1.3rem;
}
.hero__heading-container__title {
  font-size: 4rem;
  font-weight: 500;
  color: var(--black);
  max-width: 15rem;
  position: relative;
}
.hero__heading-container__title::after {
  position: absolute;
  content: "Thomas";
  font-size: 4rem;
  font-weight: 700;
  color: var(--orange);
  margin-left: 0.7rem;
  bottom: -0.1rem;
}
.hero__heading-container__subtitle {
  font-size: 1.5rem;
  color: var(--gray);
  width: 27rem;
  word-wrap: break-word;
}
.hero__background-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.about__title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--black);
  text-align: center;
}
.about__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.about__list__card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border-radius: 5rem;
}
.about__list__card__img {
  width: 100%;
  max-width: 7rem;
  margin: 0 auto;
}
.about__list__card__title {
  text-transform: capitalize;
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  max-width: 18rem;
}
.about__list__card__text {
  color: var(--gray);
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 14rem;
  color: var(--light-gray);
}

.about__list__card--border {
  border: 0.15rem solid var(--orange);
}

.about__list__card--borderless {
  background-color: var(--light-orange);
}

/* Aside */
aside {
  grid-area: aside;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem;
  gap: 5rem;
}

.projects-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
}

.projects {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}

.projects__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects__card:not(:last-child) {
  border-bottom: 0.15rem solid var(--gray);
}

.projects__card__heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.projects__card__heading-container__title {
  display: inline-block;
  font-size: 1.6rem;
  max-width: 18rem;
  font-weight: 500;
  color: var(--black);
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2rem;
  white-space: nowrap;
}
.projects__card__heading {
  display: inline-block;
  font-size: 1.6rem;
  max-width: 25rem;
  font-weight: 500;
  color: var(--black);
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2rem;
  white-space: nowrap;
}
.projects__card__heading-container__first-badge {
  border: 1px solid var(--orange);
  background-color: var(--light-orange);
  color: var(--orange);
  border-radius: 20rem;
  max-width: 8rem;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.1rem 0.5rem;
}
.projects__card__text {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--gray);
  text-align: justify;
}

.projects__card__foot-container {
  padding: 1rem 0;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 0.3rem;
}
.projects__card__foot-container__icon {
  max-width: 2.4rem;
}
/* Footer */
footer {
  grid-area: foot;
  box-shadow: 0 -0.3rem 1rem -0.3rem hsla(0, 0%, 0%, 0.6);
  background-color: var(--white);
}
.foot-nav {
  padding: 0.5rem 3rem;
}
.foot-menu {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  list-style: none;
  column-gap: 2rem;
}
.foot-menu__item a {
  display: flex;
  font-size: 1rem;
  color: var(--gray);
  column-gap: 0.5rem;
  align-items: center;
  text-decoration: none;
}
.foot-menu__item p {
  display: inline-block;
}
